In [4]:
import pandas as pd

In [5]:
file_path ="/content/hospital-childbirth-1995-2023-supplementary-data-tables-en.xlsx"

In [6]:
df = pd.read_excel(file_path, sheet_name="Table 1")

df.head()

,"Table 1 Inpatient hospitalizations: Volumes and lengths of stay, 1995–1996 to 2023–2024",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Discharge fiscal year,Province/territory,Age group,Sex,Number of discharges,Total length \nof stay (days),Average length \nof stay (days)
1,2023–2024,Newfoundland and Labrador,00–04,All,1011,3845,3.803165
2,2023–2024,Newfoundland and Labrador,00–04,Female,431,1642,3.809745
3,2023–2024,Newfoundland and Labrador,00–04,Male,580,2203,3.798276
4,2023–2024,Newfoundland and Labrador,05–09,All,550,1862,3.385455

In [7]:
# Droping the first row which contains header descriptions
df_clean = df.drop(index=0).reset_index(drop=True)

# Renamed columns clearly
df_clean.columns = [
    "Fiscal_Year",
    "Province_Territory",
    "Age_Group",
    "Sex",
    "Number_of_Discharges",
    "Total_Length_of_Stay_Days",
    "Average_Length_of_Stay_Days"
]

# Remove rows with notes or missing provinces
df_clean = df_clean[~df_clean["Province_Territory"].isna()]

# Convert numeric columns
numeric_cols = [
    "Number_of_Discharges",
    "Total_Length_of_Stay_Days",
    "Average_Length_of_Stay_Days"
]

for col in numeric_cols:
    df_clean[col] = pd.to_numeric(df_clean[col], errors="coerce")

df_clean.head()

,Fiscal_Year,Province_Territory,Age_Group,Sex,Number_of_Discharges,Total_Length_of_Stay_Days,Average_Length_of_Stay_Days
0,2023–2024,Newfoundland and Labrador,00–04,All,1011.0,3845.0,3.803165
1,2023–2024,Newfoundland and Labrador,00–04,Female,431.0,1642.0,3.809745
2,2023–2024,Newfoundland and Labrador,00–04,Male,580.0,2203.0,3.798276
3,2023–2024,Newfoundland and Labrador,05–09,All,550.0,1862.0,3.385455
4,2023–2024,Newfoundland and Labrador,05–09,Female,236.0,712.0,3.016949

In [8]:
# Remove rows with notes or missing provinces
df_clean = df_clean[~df_clean["Province_Territory"].isna()]

In [9]:
# Convert numeric columns
numeric_cols = [
    "Number_of_Discharges",
    "Total_Length_of_Stay_Days",
    "Average_Length_of_Stay_Days"
]

for col in numeric_cols:
    df_clean[col] = pd.to_numeric(df_clean[col], errors="coerce")

df_clean.head()

,Fiscal_Year,Province_Territory,Age_Group,Sex,Number_of_Discharges,Total_Length_of_Stay_Days,Average_Length_of_Stay_Days
0,2023–2024,Newfoundland and Labrador,00–04,All,1011.0,3845.0,3.803165
1,2023–2024,Newfoundland and Labrador,00–04,Female,431.0,1642.0,3.809745
2,2023–2024,Newfoundland and Labrador,00–04,Male,580.0,2203.0,3.798276
3,2023–2024,Newfoundland and Labrador,05–09,All,550.0,1862.0,3.385455
4,2023–2024,Newfoundland and Labrador,05–09,Female,236.0,712.0,3.016949

In [10]:
df_clean.isna().sum()

Fiscal_Year                      0
Province_Territory               0
Age_Group                        0
Sex                              0
Number_of_Discharges           341
Total_Length_of_Stay_Days      341
Average_Length_of_Stay_Days    341
dtype: int64

In [11]:
df_cleaned = df_clean.dropna(subset=numeric_cols)

In [12]:
df_cleaned.isna().sum()

Fiscal_Year                    0
Province_Territory             0
Age_Group                      0
Sex                            0
Number_of_Discharges           0
Total_Length_of_Stay_Days      0
Average_Length_of_Stay_Days    0
dtype: int64

In [13]:
# Remove footnotes rows if any appear later
df_cleaned = df_cleaned[~df_cleaned["Age_Group"].astype(str).str.contains("Note", case=False, na=False)]

# Save cleaned dataset
output_path = "/content/canada_hospital_inpatient_clean_1995_2024.csv"
df_cleaned.to_csv(output_path, index=False)

output_path

'/content/canada_hospital_inpatient_clean_1995_2024.csv'